.App {
  text-align: center;
}

.row {
  padding: 20px;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  padding: 20px;
}

.socialMediaButton {
  max-width: 75px;
  max-height: 75px;
}

.logoButton {
  width: 150px;
  height: 125px;
}

#sliderGroup {
  display: flex;
  align-items: left;
  justify-content: left;
}

#numberSlider {
  min-width: 400px;
  max-width: 450px
}

#numberSelected {
  max-width: 75px;
}

#twitterSubmit {
  margin-top: 40px;
}

#numberOf {
  margin-top: 20px;
}

#checks {
  margin-top: 20px;
}

.title {
  color: aliceblue;
  margin-top: 40px;
}

.urlInput {
  max-width: 500px;
}

.main-text {
  color: white;
}

.center {
  display: grid;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.main-form {
  margin-top: 40px;
}
